.alert {
  position: fixed;
  z-index: 1000;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  opacity: 1;
  transition:
    opacity 0.5s ease-in-out,
    max-height 0.5s ease-in-out;
  max-height: 100px;
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.alert.hidden {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alert-info {
  color: #FCFCFC;
  background-color: #0E1520;
  border-color: #3F3F3F;
}

.alert-success {
  color: #4CC877;
  background-color: #0E1520;
  border-color: #3F3F3F;
}

.alert-warning {
  color: #F80;
  background-color: #0E1520;
  border-color: #3F3F3F;
}

.alert-error {
  color: #4CC877;
  background-color: #0E1520;
  border-color: #3F3F3F;
}
